<h1>Bank:</h1>

<h2>Current Allowance:</h2>
<h3>This is what you have earned so far:</h3>
<% if (results.length > 0) {%>
<ul>$<%=results[0].current_allowance %></ul>
<% } else { %>
<ul>Please create budget to start using app</ul>
<%}%>

<a href="/bank">Send to Bank</a>
<a href="/expense">Add Expense</a>
<a href="/budget">Create/Edit Budget</a>