<h1>Bank:</h1>

<h2>Current Allowance:</h2>
<h3>This is what you have saved so far and how much you can spend according to your budget:</h1>
<ul>$1,000</ul>
<button>Send to Bank</button>

<a href="/expense">Add Expense</a>
