<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/header.ejs") %>
</head>

<body>
  <%- include("../partials/navbar_user.ejs") %>

    <form action="/expense" method="POST">
      <div class="title">
        <i class="fas fa-pencil-alt"></i>
        <h2>Add Expense:</h2>
      </div>
      <div class="info">
        <input class="fname" type="date" id="expense_date" name="date" placeholder="Date" value="2022-02-01">
        <input type="currency" name="amount_expense" id="amount_expense" placeholder="$ Amount" min=0 step=.01>
        <input type="text" name="expense_description" id="expense_description" placeholder="Short Expense Description">
        <select id="expense_type" name="expense_type">
          <option value="expense-type" selected>Expense type*</option>
          <option value="subscription">Subscription</option>
          <option value="food_restaurants">Restaurants</option>
          <option value="nightlife">Nightlife</option>
          <option value="groceries">Groceries</option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>

</body>

</html>