<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/header.ejs") %>    
    </head>
    <body>
        <%- include("../partials/navbar.ejs") %>
    
    <div>
        <div id="landing-header" class="container d-flex flex-column justify-content-center">
            <h1>Welcome to your Piggy Bank!</h1>
           <h3>You work everyday so you can spend everyday</h3>
           <a href="/login" class="btn btn-lg btn-success">Login</a>
       </div>
    </div>
    

    </body>
</html>
    
