<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/header.ejs") %>    
    </head>
    <body>
        <%- include("../partials/navbar.ejs") %>
    
    <div id="landing-header">
 		<h1>Welcome to the Piggy Bank!</h1>
         <h3>We budget backwards</h3>
		<a href="/login" class="btn btn-lg btn-success">Login</a>
    </div>

    </body>
</html>
    
